
<%layout("/layouts/boilerplate")%>
<body>
<div class="row mt-3">
  <div class="col-8 offset-4">
    <h1>Listing Details</h1>
  </div>
<div class="card col-6 offset-4">
  <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing_image" style="height:20rem;">
    <div class="card-body">
    <p class="card-title"><b><%=listing.title%></b><br/>
        <%=listing.description%><br/>
        ₹ <%= listing.price.toLocaleString("en-IN") %><br/>
        <%= listing.location %><br/>
        <%= listing.country %>
    </p>
    </div>
</div>
<div class="btns">
<a href="/listings/<%= listing._id %>/edit" class="edit-btn btn col-1 offset-4">Edit</a>
<form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
  <button class="delete-btn btn offset-8">Delete</button>
</form>
</div>
</div>
<br/><br/>
</body>